extends layout

block content
  h1 Live Tindahan - The New Normal
  p.lead Create your own live selling store. As easy as one two three.
  hr
  .row
    .col-md-6
      h2 Whats Up
      p Live tindahan allow everyone to create their own tindahan at home. For FREE. This combines the power live of live streaming and shopping cart all one system.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Engage Your User
      p Customers can easily watch, engage with other customers across the platforms order without ever leaving the live stream
      p
        a.btn.btn-raised(href='#', role='button') View details »